@font-face {
    font-family: "Quicksand";
    src: url(quicksand/Quicksand-Regular.otf);
}

body {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	
	overflow: hidden;
}

#time {
	font-family: "Quicksand";
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #FFF;
	margin: 0;
}
h1 {
	font-size: 110px;
	margin-top: 20%;
	text-align: center;
}

h2 {
	margin-top: 6%;
	text-align: center;
	font-size: 40px;
}